body {
  max-width: 100ch;
  margin-left: auto;
  padding-left: 1rem;
  margin-right: auto;
  padding-right: 1rem;
  font-family: sans-serif;
  color: #222;
}

quote {
  display: block;
  font-family: serif;
  background-color: #eee;
  padding: 1em;
  margin: 1em;
}

th, td {
  padding-left: 1em;
  text-align: left;
}
